$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, .8);

body {
  margin-top: 105px;
}

.navbar {
  -webkit-box-shadow: 2px 2px 5px $primary;
  -moz-box-shadow: 2px 2px 5px $primary;
  box-shadow: 2px 2px 5px $primary;
  opacity: .9;
  background: #ffffff;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;

    .nav-link {
      white-space: nowrap;
    }
  }
}

#showcase {
  position: relative;
  background: url("../img/mountains.jpg");
  min-height: 600px;

  .primary-overlay {
    background: $primary-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#newsletter {
  .btn-primary {
    background: $primary;
    transition: all .3s;

    &:hover {
      background: darken($primary, 15%)
    }
  }
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px solid #dddddd;
}

#authors {
  img {
    margin-top: -50px;
  }

  .card {
    transition: all .5s;

    h5.text-muted {
      transition: all .5s;
    }

    a {
      transition: all .5s;
    }

    &:hover {
      background: $primary;
      color: #ffffff;

      h5.text-muted {
        color: #ffffff !important;
      }

      a {
        color: #ffffff;
      }
    }
  }
}

#contact {
  .btn {
    transition: all .5s;
  }
}

@media screen and (max-width: 992px) {
  #contact {
    .col-lg-3 {
      margin: 1rem auto 0;
    }
  }

  .mb-resp {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  #showcase {
    min-height: 500px;

    h1 {
      font-size: 3rem;
    }
  }

  .mb-resp {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .info-header {
    width: 70%;
  }
}
